body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
.foody-zone{
    background-image: url(images/shapes/background-pic.png);
}
.healthy-food h1{
    color: crimson;
    font-size: 80px;
    text-align: center;
    
}
h1{
    font-size: 70px;
    font-weight: 900;
    color:rgb(68, 64, 64);
}
h2{
    font-size:50px ;
    color: rgb(68, 64, 64);
}
p{
    color: grey;
    font-size: 25px;
    margin-bottom: 60px;
}
.red{
    color: red;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, rgb(110, 77, 16));
    padding: 30px 60px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.half-width{
    width: 40%;
    text-align: justify;
    margin: 20px 40px ;
    padding: 10px 40px;

}
.half-width img{
    width: 100%;
}
.diet-issue{
    display: flex;
}
.about-me{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.food-inquiry h4{
    font-size: 30px;
   color: red;
   margin-left: 500px;
   padding-top:35px;
   display: inline;
   float: left;
}
.food-inquiry{
   background-image: url(images/shapes/blue.png);
   width: 100%;
   height: 150px;
   background-size: 700px;
   background-position:center ;
   background-repeat: no-repeat;

}
.inquiry-button{
   text-decoration: none;
   background-color: seagreen;
   color: white;
   padding: 10px 30px;
   border-radius: 5px;
   float: right;
   display: inline;
   margin-right: 550px;
   margin-top: 40px;
}
.cooking-inspiration{
    text-align: center;
}
.cooking-items{
    display: flex;
    
   
   
}
.various-recipies{
     width: 25%;
     height: 750px;
     margin: 20px 50px ;
     padding: 20px 30px;
     text-align: justify;
     box-shadow: 10px 10px 30px grey;
     border-radius: 15px;
     
}
.various-recipies img{
    width: 100%;

}
footer{
    text-align: center;
    background:cyan;
    height: 400px;
    padding-top: 50px;
}